* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button,
button:focus {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  color: blue;
}
