.container_list {
  background-color: $background-color;
  text-align: center;
}

.container_head {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.container_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5.2rem;
  border: 1px solid darken($background-color, 10%);
  background-color: darken($background-color, 3%);
  border-radius: 10px;
  margin: 1rem 0;
  padding: 1rem 1.7rem 1rem 0.8rem;
}

.item_name_time {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.item_check {
  display: flex;
  align-items: center;
}

.item_checkbox {
  width: 1rem;
  height: 1rem;
}

.item_name {
  font-weight: bold;
  margin-left: 0.8rem;
  font-size: $font-medium;
}

.item_createdat {
  font-weight: lighter;
  font-size: $font-small;
}

.item_state_dateBtn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0 0 0.5rem;
}

.item_state {
  height: 1.4rem;
  padding: 0.15rem 0.6rem;
  border-radius: 10px;
  font-size: $font-small;
  margin-left: 1.2rem;
}

.is_running {
  background-color: darken($background-color, 3%);
  border: 1px solid darken($green-color, 5%);
  color: darken($green-color, 5%);
}

.is_existed {
  background-color: darken($background-color, 3%);
  border: 1px solid lighten($orange-color, 4%);
  color: lighten($orange-color, 4%);
}

.is_else {
  background-color: darken($background-color, 3%);
  border: 1px solid lighten($accent-color, 3%);
  color: lighten($accent-color, 3%);
}

.item_dataBtn {
  padding: 0.25rem 0.65rem;
  color: $white-color;
  background-color: lighten($primary-color, 5%);
  border: 1px solid $primary-color;
  border-radius: 10px;
  font-size: $font-small;
}

.item_dataBtn:hover {
  background-color: saturate($primary-color, 10%);
  border: 1px solid lighten($primary-color, 5%);
}

.item_dataBtn:focus {
  background-color: saturate($primary-color, 10%);
  border: 1px solid lighten($primary-color, 5%);
}
