.container_list {
  background-color: $white_color;
  text-align: center;
}

// .container_list li {
//   display: flex;
//   align-items: center;
//   text-align: left;
//   height: 5vh;
//   border-bottom: 1px solid lighten($gray_color, 5%);
// }

.container_head {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.container_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35vw;
  height: 4.5rem;
  border: 1px solid darken($gray-color, 20%);
  background-color: lighten($gray-color, 1%);
  border-radius: 10px;
  margin: 0.8rem 0;
  padding: 0.5rem 1.7rem 0.5rem 0.8rem;
}

.item_name_time {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.item_check {
  display: flex;
  align-items: center;
}

.item_checkbox {
  width: 1rem;
  height: 1rem;
}

.item_name {
  font-weight: bold;
  margin-left: 0.8rem;
}

.item_createdat {
}

.item_state_dateBtn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem 0 0 0.5rem;
}

.item_state {
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  font-size: $font-small;
  margin-left: 1.2rem;
}

.is_running {
  background-color: darken($gray-color, 1%);
  border: 1px solid darken($green-color, 5%);
  color: darken($green-color, 5%);
}

.is_existed {
  background-color: darken($gray-color, 1%);
  border: 1px solid $orange-color;
  color: $orange-color;
}

.is_else {
  background-color: darken($gray-color, 1%);
  border: 1px solid darken($primary-color, 5%);
  color: darken($primary-color, 5%);
}

.item_dataBtn {
  padding: 0.3rem 0.7rem;
  background-color: darken($primary-color, 20%);
  border-radius: 10px;
  color: $white-color;
  font-size: $font-small;
}
