.create-image {
  display: flex;
  // padding: 4rem 2rem;
  overflow-y: auto;
}

.editor-con {
  flex-grow: 1;
  flex-basis: 0;
  display: flex-grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  padding: .5rem;
  // background-color: hsl(225, 6%, 25%)
}

.YAML.collapsed {
  flex-grow: 0;
  height: 0;
  width: 0;
}

.Dockerfile.collapsed {
  flex-grow: 0;
  height: 0;
  width: 0;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  color: white;
  padding: .5rem .5rem .5rem 1rem;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}

.code-mirror-wrapper {
  flex-grow: 1;
  overflow: hidden;
}

// .CodeMirror {
//   // height: 100% !important
// }

.save {
  background-color: hsl(225, 6%, 13%);
  color: white;
  padding: .5rem .5rem .5rem 1rem;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
}


// .docker-build-btn {
//     text-decoration: none;
//     font-size: 16px;
//     font-weight: bold;
//     background-color: transparent;
//     padding: 12px 16px;
//     border: solid 1px;
//     border-radius: 5px;

// }