.docker_command {
  width: 41vw;
  height: 95vh;
  padding: 1rem 1.5rem;
  background-color: lighten($gray-color, 10%);
  overflow-y: auto;
}

.docker_buttons {
  display: flex;
  align-items: center;
  height: 6vh;
  margin-bottom: 0.1rem;
}

.docker_btn {
  margin: 2px;
  padding: 0.2rem 0.5rem;
  font-size: $font-small;
  border-radius: 5px;
  background-color: darken($gray-color, 10%);
}

.docker_btn:hover {
  background-color: darken($gray-color, 20%);
}

.docker_btn:focus {
  background-color: darken($gray-color, 10%);
}

.add_btn {
  margin-bottom: 0.8rem;
}
