.image_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white_color;
  width: 84vw;
  height: 95vh;
  padding: 2.5rem;
  overflow-y: auto;
}

.image_head {
  font-size: $font-head;
  font-weight: bold;
  color: darken($primary-color, 26%);
  margin-bottom: 1rem;
}

.image_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image_pull {
  display: flex;
  align-items: center;
}

.image_input {
  height: 2rem;
  width: 14rem;
  margin-right: 1px;
  border: 1px solid $font-dark-color;
  border-radius: 5px;
}

.image_submit {
  height: 2.1rem;
  width: 2.7rem;
  background-color: darken($primary-color, 20%);
  color: $white-color;
  border-radius: 5px;
  font-weight: bold;
}

.image_submit:focus {
  background-color: darken($primary-color, 20%);
  color: $white-color;
}

.image_list {
  display: flex;
  width: 35rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem;
}

.image_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 17rem;
  padding: 10px;
  margin: 0.5rem 0;
  border: 1px solid darken($gray-color, 20%);
  background-color: lighten($gray-color, 1%);
  border-radius: 5px;
}

.image_tag {
  margin-bottom: 1px;
  font-weight: 500;
  color: darken($primary-color, 30%);
  font-size: $font-small;
  font-weight: bold;
}

.image_name {
  margin-bottom: 5px;
  font-weight: 500;
}

.image_button {
  width: 80px;
  height: 26px;
  margin: 0.2rem 0.3rem;
  padding-bottom: 2px;
  border-radius: 2rem;
  font-size: $font-small;
}

.image_start {
  color: $white-color;
  background-color: darken($primary-color, 20%);
}

.image_start:hover {
  background-color: darken($primary-color, 5%);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
  transform: scale(1.03);
}

.image_stop {
  color: darken($primary-color, 20%);
  background-color: lighten($gray-color, 1%);
  border: 2px solid darken($primary-color, 20%);
}

.image_stop:hover {
  background-color: lighten($orange-color, 6%);
  color: $white-color;
  border: none;
}

.image_stop:focus {
  color: darken($primary-color, 20%);
  background-color: lighten($gray-color, 1%);
  border: 2px solid darken($primary-color, 20%);
}

.image_running {
  width: 80px;
  height: 26px;
  margin: 0.2rem 0.3rem;
  padding-top: 2px;
  border-radius: 2rem;
  color: darken($green-color, 10%);
  background-color: lighten($green-color, 42%);
  border: 2px solid darken($green-color, 10%);
  text-align: center;
  font-size: $font-small;
}

.imagebtns {
  display: flex;
}
