* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $font-color;
}

button,
button:focus {
  border: none;
  outline: none;
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
input {
  padding: 0.8rem 0.6rem;
  outline: none;
}

.main_container {
  display: flex;
  flex-direction: column;
}

.nav_content {
  display: flex;
}
