.nav {
  display: flex;
  flex-direction: column;
  width: 16vw;
  // the background color is for temp to see the div
  background-color: darken($primary-color, 32%);
  height: 95vh;
  padding: 2rem 1rem;
}

.nav_signout {
  border-radius: 5px;
  width: 7rem;
  height: 1.5rem;
  margin: 1rem 0;
  align-self: center;
}
