.stats {
  background-color: $background-color;
  color: $gray-color;
  display: flex;
  width: 43vw;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  padding: 3rem 1rem;
  overflow-y: auto;
  border-left: 1px solid lighten($background-color, 10%);

  #stats_time {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    padding: 1rem .33rem;
  }

  .stats_graph_dataKey {
    color: $font-color;
  }

  h3 {
    text-align: center;
  }
}
