.stats {
  width: 37vw;
  height: 95vh;
  margin: auto;
  padding: 2rem;
  overflow-y: auto;
  
  h3 {
    text-align: center;
  }
}

.stats_cpu {
  width: 625px;
  height: 410px;
  margin: 25px;
}

.stats_memory {
  width: 625px;
  height: 410px;
  margin: 25px;
}
