.user_status {
  width: 200px;
  // height: 260px;
  position: absolute;
  margin-left: 79vw;
  padding: 0.5rem 0;
  background-color: $gray-color;
  border-radius: 5px;
  border: 1px solid darken($gray-color, 8%);
  box-shadow: 0 0 10px rgba(26, 25, 25, 0.2);
}

.starus_user_name {
  margin: 1rem 1.5rem;
}

.status_block {
  width: 100%;
  padding: 0.5rem 0;
}

.block_line {
  border-bottom: 1.5px solid darken($gray-color, 8%);
}

.user_btn {
  text-align: left;
  width: 100%;
  height: 30px;
  cursor: pointer;
  padding: 0 1.5rem;
  color: $font-dark-color;
  background-color: $gray-color;
}

.user_btn:hover {
  background-color: darken($primary-color, 14%);
  color: $white-color;
}
