$white-color: #ffffff;
$black-color: #000000;
$dark-gray-color: #424141;
$gray-color: #f7f7f7;
$primary-color: #2397ec;
$accent-color: #047bfe;
$darker-color: #032244;
$yellow-color: #fff59d;
$green-color: rgb(69, 218, 101);
$orange-color: #d84315;
$font-dark-color: #1b1b1b;
$font-head: 34px;
$font-large: 18px;
$font-medium: 15px;
$font-small: 14px;
$font-micro: 12px;
