$white-color: #ffffff;
$black-color: #000000;
$gray-color: #f7f7f7;
$darker-color: #032244;
$primary-color: #4741c0;
$secondary-color: #47c796;
$accent-color: #0091e2;
$background-color: #2c2f35;
$accent-background-color: #202631;
$font-color: #dbdbdb;
$font-dark-color: #1b1b1b;
$yellow-color: #ffe551;
$green-color: rgb(66, 233, 102);
$orange-color: #fa4b2cef;
$font-head: 32px;
$font-nav: 1em;
$font-large: 17px;
$font-medium: 15px;
$font-small: 12px;
$font-micro: 11px;
