$white-color: #ffffff;
$black-color: #000000;
$dark-gray-color: #424141;
$gray-color: #f7f7f7;
$primary-color: #2397ec;
$accent-color: #047bfe;
$background-color: #3c4150;
$darker-color: #032244;
$yellow-color: #ffe551;
$green-color: rgb(66, 233, 102);
$orange-color: #fa5c2c;
$font-color: #e4e0e0;
$font-dark-color: #1b1b1b;
$font-head: 34px;
$font-nav: 1em;
$font-large: 17px;
$font-medium: 15px;
$font-small: 12px;
$font-micro: 11px;
